body, html
  line-height 1
  font-weight 200
  height 100%
  overflow hidden
  font-family 'PingFang SC', 'STHeitiSC-Light', 'Helvetica-Light', Arial, sans-serif
.cube-input
  border-bottom solid 1px #E5E5E5
  > input
    padding-left 0
